# MikroTik RouterOS export - EDGE-MT-01
/system identity set name=EDGE-MT-01
/ip service set telnet disabled=no port=23
/ip service set ssh port=22
/ip service set www disabled=no
/ip service set api disabled=yes
/snmp set enabled=yes contact=netops location=DC1-Mumbai
/snmp community set [ find default=yes ] name=public
/user set admin password=admin123 group=full
/user add name=backup password=backup123 group=read
/system logging action set 0 remote=0.0.0.0
/system logging add topics=info action=memory
/system ntp client set enabled=yes primary-ntp=10.10.0.250
/system clock set time-zone-name=Asia/Kolkata
/ip firewall filter add chain=input action=accept
/interface ethernet set [ find default-name=ether1 ] name=WAN
/system note set note="Authorised access only" show-at-login=yes
